.col-12.col-md-6.col-lg-4
  %article.article.article-style-c
    .article-user
      = collection.name
      .small
        %span= time_ago_in_words(collection.created_at)
    .article-header
      = link_to collection_path(collection) do
        .article-image{style: "background-image: url('#{ rails_representation_url(collection.posts.first.image.variant(resize_to_limit: [500, nil]).processed)}')"}
