%h1 Hello World
- unless user_signed_in?
    = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary'
- else 
    =link_to 'Create a post', new_post_path, class: 'btn btn-success'
    = link_to 'All posts', posts_path, class: 'btn btn-success'
    %br/
    = link_to 'Sign Out', destroy_user_session_path, class: 'btn btn-danger', method: :delete