= form_with(url: search_index_path, method: :get, class: 'form-inline') do |f|
  = f.text_field :q, value: params[:q], class: 'form-control', placeholder: 'Search', 'aria-label' => 'Search'
  %button.btn{:type => 'submit'}
    %i.fas.fa-search{'aria-hidden' => 'true'}
